/* .landing {
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 75px;
  width: auto;
}

.login-element {
  text-decoration: none
}

.registration, .existing-user {
  display: flex;
  margin: auto;
  margin-left: 40%;
  margin-right: 40%;
}

.landing-button {
  color: black;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  -webkit-box-shadow: 5px 5px 0 #666;
  box-shadow: 5px 5px 0 #666;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 10px 0 0;
}

button:hover {
  -webkit-box-shadow: 0px 0px 0 #666;
  box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
}

.logo {
  display:flex;
  margin:auto;
  padding: 20px;
  max-width: 85%;
  max-height: 100%;
  border: 5px hidden;
  border-radius: 50px;
  background-color: #e5e5e5;
  -webkit-box-shadow: 5px 5px 0 #666;
  box-shadow: 5px 5px 0 #666;
}

@media only screen and (max-width: 653px) {
  .logo {
    height: 100px;
  }
} */