/* h1 {
  margin: auto;
}

.questions-list {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
}

@media only screen and (max-width: 653px) {
  .questions-list {
    margin-top: 50px;
  }
} */