/* 
.comments-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: fit-content;
}

.comments-header {
  background-color: #e5e5e5;
  border: none 5px;
  border-radius: 5px;
  padding: 5px;
}

.add-comment-form {
  text-align: center;
  background-color: #e5e5e5;
  margin-top: 15px;
  border: none 5px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 45px;
  align-self: center;
  min-width: 40%;
}

.new-comment-input {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  min-width: 70%;
  min-height: 300px;
}

@media only screen and (max-width: 1024px) {
  .add-comment-form {
    min-width: 85%;
    min-height: 275px;
    max-width: 85%;
    max-height: 200px;
  }

  .new-comment-input {
    min-height: 150px;
    max-width: 15%;
    max-height: 15%;
  }
}

@media only screen and (max-width: 653px) {
  .comments-list {
    margin-top: 50px;
  }

  .add-comment-form {
    min-width: 70%;
    min-height: 275px;
    max-width: 60%;
    max-height: 200px;
  }

  .new-comment-input {
    min-height: 150px;
    max-width: 15%;
    max-height: 15%;
  }
} */