ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.ticket {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  border: none 3px;
  border-radius: 30px;
  background-color: #e5e5e5;
}

.topics-button {
  justify-content: center;
  align-self: center;
}

@media only screen and (max-width: 653px) {
  .ticket {
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}