.header-box {
  width: auto;
  height: 90%;
}

.nav-box {
  background-color: #CA5463;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex inline-block;
  height: 75px;
  z-index: 5;
  border-bottom: ridge 3px gray;
}

