.comments {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.comment {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  border: none 3px;
  border-radius: 30px;
  background-color: #e5e5e5;
}

.comment-buttons {
  display: flex;
  justify-content: center;
  align-self: center;
}

@media only screen and (max-width: 1024px) {
  .comment {
    margin-left: 5%;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 653px) {
  .comment {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}