ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

.detailed-topic {
  display: flex;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  min-height: 400px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 50px;
  text-align: center;
  border: none 3px;
  border-radius: 30px;
  background-color: #e5e5e5;
}

.detailed-topic-edit {
  display: flex;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  min-height: 400px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 50px;
  text-align: center;
  border: none 3px;
  border-radius: 30px;
  background-color: #e5e5e5;
}

.detailed-topic-edit-info {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.detailed-edit-description {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  min-width: 70%;
  min-height: 300px;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.detailed-button {
  align-self: center;
  width: fit-content;
}

.detailed-topic-buttons {
  display: flex;
  margin: auto;
}

.detailed-topic-edit-buttons {
  display: flex;
  margin: auto;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .detailed-topic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .detailed-topic-edit {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 653px) {
  .detailed-topic {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .detailed-topic-edit {
    margin-left: 5%;
    margin-right: 5%;

  }

  .detailed-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .detailed-topic-buttons {
    flex-direction: column;
  }
}