body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/img/Background.png");
  background-size: auto 1300px;
  background-repeat: repeat-x;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 1250px) {
  body {
    background-size: auto 1450px;
  }
}

@media only screen and (max-width: 653px) {
  body {
    background-size: auto 700px;
  }
}

@media only screen and (max-width: 823px) {
  body {
    background-size: auto 850px;
  }
}